.header-container {
  display: flex;
  /* max-height: 800px; */
  height: 100vh - 150px;
  background-image: url(./images/hero-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  overflow: hidden;
}

.header-name {
  max-width: 50%;
  padding: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-grow: 1;
}

.header-name-content {
  margin: auto;
  color: #fff;
  font-size: 6rem;
}

.header-image-container {
  flex-grow: 1;
  max-width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 40px;
}

.header-image-content {
  width: fit-content;
  height: auto;
  min-width: 200px;
  min-height: 200px;
  border-radius: 50%;
  border: 12px solid #fff;
}

@media (max-width: 600px) {
  .header-container {
    background-image: none;
  }

  .header-image-container {
    display: none;
  }

  .header-name {
    max-width: 100%;
  }

  .header-name-content {
    margin: auto;
    color: #323130;
    font-size: 6rem;
  }
}
