.project-container {
  margin-bottom: 50px;
}

.project-title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
}

.project-image-description {
  display: flex;
}

.project-image-container {
  width: 40%;
  display: flex;
  justify-content: center;
}

.project-description-technology {
  max-width: 50%;
}

.project-description {
  margin-bottom: 20px;
  line-height: 30px;
}

.project-image {
  width: fit-content;
  height: auto;
  margin-right: 20px;
  border: 1px solid black;
}

.tech-list {
  display: flex;
}

@media (max-width: 600px) {
  .project-image-description {
    flex-direction: column;
  }
  
  .project-image-container {
    width: 100%;
  }

  .project-description-technology {
    max-width: 100%;
  }
}